.all-wishlists {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
}

.showing {
    font-size: 1.5rem;
}

.cart-button {
    border: none;
    background-color: var(--ecom-bg-color);
}

.card {
    border-radius: 0rem;
    box-shadow: -5px 5px 5px #cbd5e1;
}

.wishlist-heading {
    line-height: 3rem;
    margin-top: 10rem;
}