

.product-main-sidebar{
    display: grid;
    height: 100vh;
    grid-template-columns: 20rem 1fr;
}

.product-sidebar{
    grid-column: 1 / 2;
}

.filter{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 5rem;
}

.product-main{
    grid-column: 2 / 3;
    margin-top: 4rem;
}

.product-cards{
    border-radius: 0rem;
    box-shadow: -5px 5px 5px #cbd5e1;
}

.cart-button{
    border: none;
    background-color: var(--ecom-bg-color);
}


.badge-best-seller{
    background-color: var(--ecom-bg-color);
}


.product-cards:hover{
    transition: width 2s;
}

.all-products{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit,minmax(14rem,1fr));
}

.showing{
    font-size: 1.5rem;
}

.gray-cart{
    color: var(--gray-color);
}

.responsive-product-sidebar{
    width: 100%;
    position:absolute;
    left: -100%;
    background-color: #fff;
    z-index: 1;
    transition: all 0.5s ease-in-out;
    overflow-y: scroll;
    position: fixed;
    height: 100vh;
    margin-top: 8rem;
}

#hamburger{
    display: none;
    position: fixed;
    z-index: 5;
}

.gray-cart:hover{
    color: var(--danger-color);
}

@media only screen and (max-width:600px)
{
    .product-main{
        grid-column: 1 / 3;
        margin-top: 8rem;
    }
    #hamburger{
        display: block;
        position: fixed;
    }
    .responsive-product-sidebar{
        display: block;
    }
    #responsive-horizontal-card{
        margin-top: 12rem;
    }
    .product-sidebar{
        display: none;
        margin-top: 8rem;
    }
}   